:root {
  --textSizeMult: 1.5;
}

/*Border*/
*{
  margin: 0;
  padding: 0;
 }
 


/*bg img  */
#bg{
    width:100vw;
    height: 99vh;

 }

 #title {
  font-size: calc(var(--textSizeMult)*70px);
  font-family: American Typewriter, serif;
  top: 25%;
 }
 .overlapButton {
  font-family: Andale Mono, monospace;
  left: 350px;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: calc(var(--textSizeMult)*30px);
  color: #ffdc91;
  background-color: transparent;
  outline: none;
  border: 8px;
  border-radius: 8px;
  cursor: pointer;
}
